.cp_title{
    
    text-align: center;

    font-size: 2rem;

}


.ChangePasswordForm{
    margin-top: 20px;
    width: 25%;
    /* border: 1px solid red; */
}
.change_password > div:first-child{
    width: 100%;
    text-align: left;
}
.change_password > div:last-child{
    width: 100%;
    text-align: left;

}

.new_password, .confirm_password{
    width: 90%;
    height: 25px;
    border-radius: 10px;
}
.submit_button{
    margin-top: 10px;
    width: 100%;
    /* border: 1px solid red; */
}

.ChangePwBtn, .ReturnBtn{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.return_button{
    text-align: center;
}







